@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F5F5F5;
    --backgroundLight: #d4d4d4;
    --foreground: #171717;
    --link: #cf4f2c;
  }

  .dark {
    --background: #262626;
    --backgroundLight: #363636;
    --foreground: #ffffff;
    --link: #F4A667;
  }

  h1, h2, h3, h4, h5, h6, span, label, p, li {
    color: var(--foreground);
    font-family: 'Noto Sans TC', Arial, Helvetica, sans-serif;
    font-weight: 200;
    letter-spacing: 0.05em;
    line-height: 1.5;
    font-size: 1rem;
  }

  b {
    font-weight: 500;
  }

  header, div, input, select, textarea {
    transition: background-color 1000ms ease-in-out;
    scrollbar-width: thin; /* For Firefox */

    /* WebKit-based browsers (Chrome and Safari) */
    &::-webkit-scrollbar {
      width: 0px; /* Set the width of the scrollbar */
    }
  }

  body {
    color: var(--foreground);
    background-color: var(--background);
    transition: background-color 1000ms ease-in-out;
    font-family: 'Noto Sans TC', Arial, Helvetica, sans-serif;

    a:hover {
      color: var(--link)
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.billiard-calculator {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.billiard-table-container {
  touch-action: none; /* 確保在移動設備上拖動不會造成頁面滾動 */
  margin-bottom: 1rem;
}

/* 針對小螢幕的響應式樣式 */
@media (max-width: 640px) {
  .billiard-calculator .flex {
    flex-direction: column;
  }
}

.gm-style-iw-d {
  overflow: hidden !important;
  max-height: unset !important;
}

.gm-style-iw-c {
  padding: 0 !important;
}

.gm-style-iw-ch {
  padding: 0 !important;
}

.gm-ui-hover-effect>span {
  margin: 0 !important;
}

.gm-style-iw-chr>button {
  height: 30px !important;
  width: 30px !important;
  padding: 5px !important;
}

.gm-style-iw.gm-style-iw-c {
  max-height: unset !important;
  width: 235px !important;
  overflow: hidden;
}

.react-flow__attribution {
  display: none;
}