.title {
  font-size: 20px !important;
  margin: 0px !important;
  margin-top: 4px !important;
}

.tip-button {
  height: unset;
  color: white;
}

.inactive-button {
  background-color: #9c9fa4 !important;
  border-width: 2px;
}

.unselectable {
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
}
